.card-action {
    padding: 0 !important;
}

.progress {
    background: linear-gradient(90deg, #e3f2fd, #ede7f6, #ffebee) !important;
}

.indeterminate::before {
    background: linear-gradient(90deg, #2196f3, #673ab7, #f44336) !important;
}

.indeterminate::after {
    background: linear-gradient(90deg, #2196f3, #673ab7, #f44336) !important;
}
