.fontSize {
  font-size: xx-large;
  color: var(--text-white);
}

.contentCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bg {
  width: 100%;
  height: 100vh;
  background: var(--linear-gradient);
  background-size: 400%, 400%;
  animation: change 10s;
}

#btnMore {
  border: solid 1px var(--text-white);
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
