#description {
  font-size: large;
}

.card:hover #Icon {
  background: -webkit-linear-gradient(360deg, var(--blue), var(--pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
