.nav-wrapper {
  background: var(--linear-gradient);
}

span.initials {
  horiz-align: center;
  font-size: 6rem;
  background: var(--linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover #Icon {
  color: var(--color-1) !important;
}
span.lever::after {
  background: var(--linear-gradient);
}
span.lever {
  background: linear-gradient(90deg, var(--color-1-opaque), var(--color-2-opaque));
}
