.nav-wrapper {
  background: linear-gradient(90deg, var(--blue), var(--pink));
}

span.initials {
  horiz-align: center;
  font-size: 6rem;
  background: -webkit-linear-gradient(360deg, var(--blue), var(--pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover #Icon {
  color: var(--blue) !important;
}
span.lever::after {
  background: linear-gradient(90deg, var(--blue), var(--pink));
}
span.lever {
  background: linear-gradient(90deg, var(--blue-opaque), var(--pink-opaque));
}
