html {
  background: var(--text-white);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.btn-floating {
  background: var(--linear-gradient);
}

/* Darkmode Styling */
.darkMode,
html {
  background: var(--black-2);
  color: var(--text-white);
}

.darkMode .card {
  background: var(--black);
  color: var(--text-white);
}

.darkMode .myModal-content {
  background-color: var(--black);
}

.darkMode .modal {
  background-color: var(--black);
}

.darkMode .sidenav {
  background: var(--black);
}

.darkMode a {
  color: var(--text-white) !important;
}

.darkMode #Icon {
  color: var(--text-white) !important;
}

.darkMode .chip {
  color: var(--text-white) !important;
  background: var(--black-2);
}
.darkMode .chip:hover {
  color: var(--blue) !important;
}

/* Color Variables */
:root {
  --blue: #3f51b5;
  --blue-opaque: #c5cae9;
  --pink: #673ab7;
  --pink-opaque: #d1c4e9;
  --text-white: white;
  --black: #2e3134;
  --black-2: #18191b;
  --grey: #e0e0e0;
  --linear-gradient: linear-gradient(90deg, var(--blue), var(--pink));
  --linear-gradient-opaque: linear-gradient(
    90deg,
    var(--blue-opaque),
    var(--pink-opaque)
  );
}
