html {
  background: var(--text-white);
}

main {
  flex: 1 0 auto;
}

.App{
  min-height: 100vh;
}

.btn-floating {
  background: var(--linear-gradient);
}

/* Darkmode Styling */
.darkMode {
  background: var(--black-2);
  color: var(--text-white);
}

.darkMode .card {
  background: var(--black);
  color: var(--text-white);
}

.darkMode .myModal-content {
  background-color: var(--black);
}

.darkMode .modal {
  background-color: var(--black);
}

.darkMode .sidenav {
  background: var(--black);
}

.darkMode a {
  color: var(--text-white) !important;
}

.darkMode #Icon {
  color: var(--text-white) !important;
}

.darkMode .chip {
  color: var(--text-white) !important;
  background: var(--black-2);
}
.darkMode .chip:hover {
  color: var(--color-1) !important;
}

/* Color Variables */
:root {
  --color-1: #3f51b5;
  --color-1-opaque: #c5cae9;
  --color-2: #673ab7;
  --color-2-opaque: #d1c4e9;
  --text-white: white;
  --black: #2e3134;
  --black-2: #18191b;
  --grey: #e0e0e0;
  --linear-gradient: linear-gradient(90deg, var(--color-1), var(--color-2));
  --linear-gradient-opaque: linear-gradient(
    90deg,
    var(--color-1-opaque),
    var(--color-2-opaque)
  );
}
