.progress {
    background: linear-gradient(90deg, #e3f2fd, #f3e5f5) !important;
}

.indeterminate::before {
    background: linear-gradient(90deg, #2196f3, #e040fb) !important;
}

.indeterminate::after {
    background: linear-gradient(90deg, #2196f3, #e040fb) !important;
}

.myModal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    backdrop-filter: blur(10px);
    /*background-color: rgb(0,0,0); !* Fallback color *!*/
    /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
}

.myModal-content {
    border-radius: 2px;
    background-color: white;
    padding: 2px;
    width: 30%; /* Could be more or less, depending on screen size */
    min-width: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
